* {
    color: black;
    background-color: #18191a;
}

header {
    padding: 10px;
    background-color: #18191a;
}

header p {
    text-align: center;
    margin-top: 10px;
    color: rgb(193, 191, 191);
}

h1 {
    padding-top: 20px;
    text-align: center;
    color: aliceblue;
}

.map-section {
    text-align: center;
    padding-bottom: 10px;
}

section {
    text-align: center;
    background-color: #18191a;
}